
:root {
	--video_height: 600;
	--video_width: 800;
}

html, body {
	max-width: 100vh;
	min-width: 10vh;
	overflow-x: hidden;
	overflow-y: hidden;
  }

  :root {
	--secondary-color: #F7D40A;
	--contrast-color: #ffffff;
  }
  .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	z-index: -15;
	background-color: var(--contrast-color);
  }
  
  .container {
	display: flex;
	height: 100%;
	width: auto;
	justify-content: space-around;
	color: #fff;
	animation: slideUp .8s ease forwards;
	background-image: url("../fond1.png");
	background-color: var(--secondary-color);
	position: relative;
	transition: all .8s ease;
  }

  .splide__track{
	right: 5vh;
	position: relative;
	left: 5vh;
  }
  
  .container_content_inner {
	width: 150%;
	margin-left: 25%;
  }
  
  .par {
	height: auto;
	overflow: hidden;
  }
  
  p{
	width:50%;
	word-wrap: break-word;
	color: rgb(0, 0, 0);
	position: relative;
	font-family: 'Ubuntu';
	font-size: 23px;
	line-height: 28px;
	overflow:visible;
	transform: translateY(300px);
	animation: slideUp .8s ease-in-out forwards .8s;
	left: 1vw;
  }

  h4{
	left: 0.5vw;
	margin-bottom: 0.5vh;
	color: black;
	position: relative;
	font-family: 'Ubuntu';
	font-size: 26px;
	line-height: 28px;
	overflow:visible;
	transform: translateY(300px);
	animation: slideUp .8s ease-in-out forwards .8s;
  }

  i{
	color: black;
	position: relative;
	font-family: 'Ubuntu';
	font-size: 23px;
	line-height: 0px;
	overflow:visible;
	transform: translateY(300px);
	animation: slideUp .8s ease-in-out forwards .8s;
  }

  .checkif{
	color: rgb(0 0 0);
	position: relative;
	font-family: 'Montserrat';
	font-size: 26px;
	font-weight: 500;
	margin-top: 12vh;
	left: 7vw;
  }

  .btns {
	margin-top: 5vh;
	display:inline;
	height: 100%;
	position: relative;
	width: 150px;
	overflow: hidden;
	left:-5%;
  }
  
  .btns_more {
	border: 1px solid var(--contrast-color);
	border-radius: 50px;
	margin-left: 2vh;
	padding: 8px 12px;
	color: #000000;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	margin-top: 2vh;
	outline: none;
	transform: translateY(50px);
	animation: slideIn .8s ease-in-out  forwards 1s;
  }

  .btns_more:hover{
	cursor:pointer;
	background-color: #cacaca;
  }
  
  .title {
	overflow: hidden;
	height: auto;
  }
  
  h3 {
	  font-family: 'Montserrat', sans-serif;
	  font-weight: 900;
	  font-size: 50px;
	  color: var(--contrast-color);
	  margin-bottom: 2%;
	  margin-top: 9vh;
	  position:relative;
	  left: 15vw;
	  transform: translateY(100px);
	  animation: slideUph1 .6s ease forwards .5s;
  }

  .review{
	margin-top: 5vh;
	width:55%;
	position: relative;
	border: 20px solid #ffffff;
	border-radius: 2vh;
	overflow: scroll;
	right: 6vw;
  }






  
  @keyframes slideIn {
	0% {
	  transform: translateX(500px) scale(.2);
	}
	100% {
	  transform: translateX(0px) scale(1);
	}
  }
  @keyframes slideUph1 {
	0% {
	  transform: translateY(4000px);
	}
	100% {
	  transform: translateY(0px);
	}
  }
  
  @keyframes slideUp {
	0% {
	  transform: translateY(4000px);
	}
	100% {
	  transform: translateY(0px);
	}
  }
  
  @keyframes expand {
	0% {
	  transform: translateX(1400px);
	}
}

@media screen and (max-width: 1700px) and (max-height: 700px) {

	video {
		height: 99%;
		width: 99%;
		margin-bottom: 22.5vh;
	}
	.container{
		background-size: 100%;
		background-image: url("../fond1.png");
	}
	.title {
		margin-top: -2%;
		margin-left: 2%;
	}
	.container_outer_img{
		height: 68%;
		width: 68%;
	}
	div {
		width: 80%;
	}
	.par {
		margin-left: 8%;
		width: 80%;
	}
	h3 {

		font-size: 35px;
	}
	h4 {
		font-size: 21px;
	}
	.review {
		margin-top: 0vh;
		position: relative;
		border: 10px solid #ffffff;
		border-radius: 1vh;
		right: 4vw;
		max-width: 55%;
	}
	p {
		width: 50%;
		font-size: 18px;
		line-height: 24px;
	}
	i {
		font-size: 17px;
	}
	.btns {
		left: 50%;
	}
	.checkif{
		font-size: 21px;
		left: 10vw;
		margin-top: 7vh;
		color:#000000;
	}
	.container_content_inner{
		margin-left: 5%;
		margin-top:-2%;
	}
	.review {
		margin-left: 15%;
		width:55%;
		border: 10px solid #ffffff;
	}
	.btns {
		left: 2vw;
	}
	.topnav{
		width: 100%
	}
}

@media screen and (max-width: 1700px) and (max-height: 1000px) {

	video {
		height: 99%;
		width: 99%;
		margin-bottom: 19vh;
	}
	.container{
		background-size: 78%;
		background-image: url("../fond.png");
	}
	.title {
		margin-left: 1%;
		margin-bottom: 4%;
	}
	.container_outer_img{
		height: 72%;
		width: 72%;
	}
	div {
		width: 90%;
	}
	.par {
		margin-left: 10%;
		width: 80%;
	}
	h3 {
		margin-bottom: 0px;
	}
	h4 {
		font-size: 22px;
	}
	.review {
		margin-top: 0vh;
		position: relative;
		border: 20px solid #ffffff;
		border-radius: 3vh;
		right: 4vw;
		max-width: 90%;
	}
	p {
		width: 65%;
		font-size: 21px;
		line-height: 28px;
	}
	i {
		font-size: 19px;
	}
	.btns_more{
		left:1vh;
	}
	.checkif{
		font-size: 21px;
		left: 10vw;
		margin-top: 4vh;
	}
	.container_content_inner{
		margin-left: 5%;
	}
	.review {
		margin-top: 3%;
		margin-left: 10%;
	}
	.btns {
		left: 0vw;
	}
	.topnav{
		width: 100%
	}
	ul {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1400px) {

	video {
		height: 99%;
		width: 99%;
		margin-bottom: 19vh;
	}
	.container{
		background-size: 78%;
		background-image: url("../fond.png");
	}
	.title {
		margin-left: 1%;
		margin-bottom: 4%;
	}
	.container_outer_img{
		height: 72%;
		width: 72%;
	}
	div {
		width: 90%;
	}
	.par {
		margin-left: 10%;
		width: 80%;
	}
	h3 {
		margin-bottom: 0px;
	}
	h4 {
		font-size: 21px;
	}
	.review {
		margin-top: 0vh;
		position: relative;
		border: 20px solid #ffffff;
		border-radius: 3vh;
		right: 4vw;
		max-width: 60%;
	}
	p {
		font-size: 19px;
		line-height: 28px;
	}
	i {
		font-size: 17px;
	}
	.checkif{
		font-size: 16px;
		left: 7vw;
		margin-top: 2vh;
	}
	.container_content_inner{
		margin-left: 5%;
	}
	.review {
		margin-top: 3%;
		margin-left: 10%;
	}
	.topnav{
		width: 100%
	}
	.btns {
		margin-top: 5vh;
		display:inline;
		height: 100%;
		position: relative;
		width: 150px;
		overflow: hidden;
		left:7%;
	  }
	  .btns_more {
		border: 1px solid var(--contrast-color);
		border-radius: 50px;
		margin-left: 0.5vh;
		padding: 2px 6px;
		color: #000000;
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 12px;
		text-transform: uppercase;
		position: relative;
		margin-top: 0.5vh;
	  }
}

@media screen and (max-width: 800px) {

	html,body {
		overflow-y: scroll;
		max-width: auto;
		max-height: 90%;
	}
	video {
		height: 130%;
		width: 100%;
		margin-bottom:17vh;
	}
	.container{
		background-size:150%;
		background-image: url("../fond.png");
	}
	.title {
		margin-top: -23%;
		margin-left: 35%;
		margin-bottom: 4%;
		width: 200%;
		
		
	}
	.splide__track{
		left: -30%;
	}
	.container_outer_img{
		height: 100%;
		width: 500%;
		margin-top: 140%;
		
	}
	div {
		width: 100%;
	}
	.par {
		margin-left: 3%;
		width: 100%;
	}
	h3 {
		font-size:40px;
		margin-bottom: 0px;
	}
	h4 {
		width: 200%;
		font-size: 17px;
		
	}
	.review {
		margin-top: 0vh;
		position: relative;
		border: 20px solid #ffffff;
		border-radius: 3vh;
		right: 8vw;
		max-width: 90%;
	}
	p {
		font-size: 13px;
		line-height: 16px;
		margin-right: 0;
		width: 90%;
		
	}
	i {
		font-size: 11px;
	}
	.btns {
		left: 7%;
		width: 100%;
	}
	.checkif{
		font-size: 15px;
		left: 2vw;
		margin-top: 1vh;
	}
	.container_content_inner{
		margin-left: 5%;
		width: 250%;
		margin-right: 0;
	}
	.review {
		margin-top: 3%;
		margin-left: 10%;
	}
	.btns_more{
		border: 1px solid var(--contrast-color);
	border-radius: 50px;
	margin-left: 0vh;
	padding: 8px 12px;
	color: #000000;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	margin-top: 2vh;
	}
	.topnav a{
		width: 0;
		height: 13px;
	}
	ul {
		margin-bottom: 0;
	}
}

